<!DOCTYPE html>
<html>
<head>
    <title>VeggieVibe</title>
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"> {% endcomment %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta author = "Maki Spariva">
    <meta description = "VeggieVibe es una aplicación web que te ayuda a encontrar recetas vegetarianas y veganas">
    {% load static %}
    <link rel="icon" href="{% static '/recipes/images/onion.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'recipes/styles.css' %}">
    <link rel="stylesheet" href="{% static 'recipes/normalize.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'recipes:recipe_list' %}" class="btn btn-success"><img src="{% static 'recipes/images/onionpurple.jpg' %}" alt="VeggieVibe" class="logo"></a></li>
                <li>Login</li>
                <li>Categories</li>
            </ul>
        </nav>
    {% block content %}{% endblock %}
</body>
</html>