<!DOCTYPE html>
<html>
<head>
    <title>VeggieVibe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta author = "Maki Spariva">
    <meta description = "VeggieVibe es una aplicación web que te ayuda a encontrar recetas vegetarianas y veganas">
    {% load static %}
    <link rel="icon" href="{% static '/recipes/images/general/onion_purple.jpg' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'recipes/styles.css' %}">
    <link rel="stylesheet" href="{% static 'recipes/normalize.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous" defer></script>
    <header>
        <nav class="navbar navbar-expand-lg mb-5" style="background-color:#ffd9ec">
            <div class="container-fluid gap-2">
              <a class="navbar-brand d-flex align-items-center" href="{% url 'recipes:recipe_list' %}"><img class="navbar-image me-2" src="{% static 'recipes/images/general/onion_purple.jpg' %}" alt="VeggieVibe" aria-current="page" id="home-icon">VeggieVibe</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse nav-underline justify-content-end me-5" id="navbarNavAltMarkup">
                <div class="navbar-nav ps-5 me-5 gap-2">
                  <a class="nav-link me-3 ms-2" href="{% url 'recipes:recipe_list' %}">Home</a>
                  {% if request.user.is_authenticated %}
                    <a class="nav-link me-3 ms-2" href="{% url 'users:profile' %}">My account</a>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="nav-link" type="submit">Log-out</button>
                    </form>
                  {% else %}
                    <a class="nav-link me-3 ms-2" href="{% url 'users:profile' %}">Log-in</a>
                    <a class="nav-link me-3 ms-2" href="{% url 'users:signup' %}">Sign-up</a>
                  {% endif %}
                  <a class="nav-link me-3 ms-2" href="#">API</a>
                  <a class="nav-link me-3 ms-2" href="https://github.com/spariva/VeggieVibe/issues" target="_blank">Support</a>
                  <a class="nav-link me-3 ms-2" target="_blank" href="https://github.com/spariva">Developer</a>
                </div>
              </div>
            </div>
          </nav>
    </header>
    {% block content %}{% endblock %}
</body>
</html>