{% extends "base.html" %} {% block content %}
<h1>Find your ideal recipe</h1>
<p>Search by title, ingredients, tags...</p>
<form method="get">
  <input type="text" name="title" value="{{ request.GET.title }}" />
  <input type="submit" value="Search recipe" />
  <br>
    {% for tag in tags %}
    <input type="checkbox" name="tag" value="{{ tag.name }}" {% if tag.name in tags_selected %}checked {% endif %} /> {{ tag.name }}
    {% endfor %}
  <br>
  <input type="text" name="ingredients" value="{{ request.GET.ingredients }}" placeholder="Ingredients separated by ','">
    {% comment %} <input type="text" name="ingredients" value="{{ request.GET.ingredients }}"> {% endcomment %}
</form>
{% if object_list %}
<ul>
  {% for recipe in object_list %}
  <li>
    <a href="{% url 'recipes:recipe_detail' recipe.id %}">{{ recipe.title }}</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No recipes available.</p>
{% endif %} {% endblock %} ```
