{% extends "base.html" %} {% block content %}
{% load static %}
<h1>Find your ideal recipe</h1>
<p>Search by title, ingredients, tags...</p>
<form method="get">
  <input type="text" name="title" value="{{ request.GET.title }}" />
  <input type="submit" value="Search recipe" />
  <br>
    {% for tag in tags %}
    <input type="checkbox" name="tag" value="{{ tag.name }}" {% if tag.name in tags_selected %}checked {% endif %} /> {{ tag.name }}
    {% endfor %}
  <br>
  <input type="text" name="ingredients" value="{{ request.GET.ingredients }}" placeholder="Ingredients separated by ','">
    {% comment %} <input type="text" name="ingredients" value="{{ request.GET.ingredients }}"> {% endcomment %}
</form>
{% comment %} {% if object_list %}
<ul>
  {% for recipe in object_list %}
  <li>
    <a href="{% url 'recipes:recipe_detail' recipe.id %}">{{ recipe.title }}</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No recipes available.</p>
{% endif %} {% endcomment %}
{% for recipe in page_obj %}
  <a href="{% url 'recipes:recipe_detail' recipe.id %}">{{ recipe.title }}</a>
    ...
{% endfor %}

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>

{% if object_list %}
<nav class="" aria-label="Page navigation">
    <ul class="step-links pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="previous">&laquo;</a></li>
        {% endif %}
        <li class="page-item current"><a class="page-link bg-warning-subtle text-info" href="?page=1">{{ page_obj.number }}</a></li>
{% else %}
  <img src="{% static 'recipes/images/onion_sad.jfif' %}" alt="sad face" width="50" height="50">
  <p>We don't have any recipe like that yet, maybe you could create the first one!</p>
  <img src="{% static 'recipes/images/onionorange.jpg' %}" alt="happy face" width="50" height="50">
{% endif %}
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="next">&raquo;</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"> Last</a></li>
        {% endif %}
      </ul>
    </nav>
    <span class="current justify-content-center pagination text-info">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
{% endblock %} ```
