<!-- hay que añadir el extends base pero al ponerlo y votar el artista me falla y me cierra sesion
yo creo que porque los dos son de tipo submit -->
{% load static %}
{% include "base.html" %}
<!DOCTYPE html>
<html>

<head>
    <title>- myMusic - {{artista}} - {{genero}} -</title>
    <link rel="stylesheet" href="{% static 'css/albumes.css' %}">
    <link rel="stylesheet" href="{% static 'css/sesion.css' %}">
</head>

<body>
    <h2>Álbumes de {{ artista }} en el género {{ genero }}</h2>
    <p><a href="{% url 'subir_album' %}">Crear nuevo album</a> - 
    <a href="/generos">Volver a generos</a></p>
    <p>Otros géneros del artista:
    {% for genero in artista.artista_genero.all %}
    <a href="{% url 'albumes' genero_id=genero.id artista_id=artista.id %}">#{{genero}}</a>
    {% endfor %}</p>
    {% if albumes %}
    <div id="linksGeneros">
    </div>
    <p></p>
    <ul>
        {% for album in albumes %}
        <li>
            <div class="bloqueAlbum">
                <a href="{% url 'canciones' album_id=album.id %}">
                    <img class="albumesImg" src="{{ album.album_imagen.url }}" alt="{{ album.album_nombre }}"></a><br>
                <h3> {{ album.album_nombre }}</h3><br>
                    {% if album.album_puntuacion == 5 %}
                        <div class="textoInfo puntuacion5">Puntuacion: {{ album.album_puntuacion }}/5</div>
                    {% elif album.album_puntuacion == 4 or album.album_puntuacion == 3 %}
                        <div class="textoInfo puntuacion34">Puntuacion: {{ album.album_puntuacion }}/5</div>
                    {% else %}
                        <div class="textoInfo puntuacion12">Puntuacion: {{ album.album_puntuacion }}/5</div>
                    {% endif %}
                    <br>
                <p><small><i>Añadido por: {{ artista.artista_usuario.username }}</i></small></p>

        </li><br><br>
        {% endfor %}
    </ul>
    {% else %}
    <p>No se encuentran los álbumes</p><br>
    {% endif %}
    </div>

</body>
</html>
