<!-- hay que añadir el extends base pero al ponerlo y votar el artista me falla y me cierra sesion
yo creo que porque los dos son de tipo submit -->
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>- myMusic - Artistas - {{genero}} -</title>
    <link rel="stylesheet" href="{% static 'css/artistas.css' %}">
    <link rel="stylesheet" href="{% static 'css/sesion.css' %}">
</head>

<body>
    {% if request.user.is_authenticated %}
    <div id="sesionIniciadaBloque">
        <div id="sesionIniciadaTexto">
            <h4 id="saludo"> Hola {{ request.user.username }}!</h4>
        </div>
    </div>
    {% endif%}
    {% if artistas %}
    <h2>Artistas {{ genero }}</h2>
    <a href="{% url 'subir_artista' %}">Crear nuevo artista</a> - 
    <a href="/generos">Volver a generos</a>

    <ul>
        {% for artista in artistas %}
        <li>
            <div class="bloqueArtista">
                <a href="{% url 'albumes' genero_id=genero.id artista_id=artista.id %}">
                    <img class="artistasImg" src="{{ artista.artista_imagen.url }}" alt="{{ artista.artista_nombre }}">
                </a><br>
                <strong>
                    {% if artista.ha_votado %}
                    <h3>⭐ {{ artista.artista_nombre}} ⭐</h3>
                    {% else %}
                    <h3>{{ artista.artista_nombre}}</h3>
                    {% endif %}
                </strong>
                <div id="linksGeneros">
                    {% for genero in artista.artista_genero.all %}
                    <a href="{% url 'artistas' genero_id=genero.id %}">#{{genero.genero_nombre}}</a>
                    {% endfor %}
                </div>
                <div class="textoInfo">
                    Nacimiento: {{ artista.artista_nacimiento }}<br>
                    Edad: {{ artista.edad }} años<br>
                    Grammys: {{ artista.artista_grammys }}
                </div>
                <div class="textoFavs">
                    Votado como favoritx {{ artista.artista_votos }} veces
                    <br>
                </div>
                {% if artista.ha_votado %}
                <form action="{% url 'quitar_voto' artista.id %}" method="post">
                    {% csrf_token %}
                    <input id="quitar_voto" type="submit" value="🗑️ Quitar de favoritos">
                    <p><small><i>Añadido por: {{ artista.artista_usuario.username }}</i></small></p>
                </form><br>
                {% else %}
                <form action="{% url 'votar' artista.id %}" method="post">
                    {% csrf_token %}
                    <input id="votar" type="submit" value="⭐ Añadir a favoritos">
                </form><br>
                <p><small><i>Añadido por: {{ artista.artista_usuario.username }}</i></small></p>
                {% endif %}
            </div>
        </li>
        {% endfor %}
        </ul>
    {% else %}
    <p>No se encuentran los artistas</p><br>
    <a href="{% url 'subir_artista' %}">Crear nuevo artista</a>
    {% endif %}
</body>

</html>