<!--Cambios para mostrar aqui los mensajes de error en vez de ser redirigido-->
{% if messages %}
<div id="messageInfo">
    {% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

<!--Bloque login allauth-->
{% if request.user.is_authenticated %}
<div id="sesionIniciadaBloque">
    <div id="sesionIniciadaTexto">
        <h4 id="saludo"> Hola {{ request.user.username }}!</h4>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button id="botonBase" type="submit">Cerrar Sesión</button>
    </div>
</div>
{% else %}
<div id="sesionIniciadaBloque">
    <div id="sesionNoIniciadaTexto">
        <h4 id="noSaludo"> Iniciar Sesión</h4>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ login_form.as_p }}
            <button id="botonBase" type="submit">Iniciar Sesion</button>
        </form>
    </div>
</div>
{% endif %}

{% block content %}{% endblock %}