{% load static %}
{% include "base.html" %}
<!DOCTYPE html>
<html>

<head>
    <title>- myMusic - {{album}} -</title>
    <link rel="stylesheet" href="{% static 'css/canciones.css' %}">
    <link rel="stylesheet" href="{% static 'css/sesion.css' %}">
</head>

<body>
    <p><a href="{% url 'subir_cancion' %}">Añadir nueva cancion</a> - 
    <a href="/generos">Volver a generos</a></p>
    {% if canciones %}
    <div id="pagina">
        <div class="bloqueCanciones">
            <img class="albumesImg" src="{{ album.album_imagen.url }}" alt="{{ album.album_nombre }}"><br>
            <h2>{{album}}</h2>

            {% for cancion in canciones %}

            <div class="bloque">
                <a href="{% url 'detalles' cancion_id=cancion.id %}"> {{cancion.cancion_nombre}} </a>
                <br><br>
                {% endfor %}
                {% else %}
                <p>No se encuentran las canciones</p>
                {% endif %}
            </div>
        </div>

</body>

</html>