{% load static %}
{% include "base.html" %}
<!DOCTYPE html>
<html>

<head>
    <title>- myMusic - {{cancion}} -</title>
    <link rel="stylesheet" href="{% static 'css/detalles.css' %}">
    <link rel="stylesheet" href="{% static 'css/sesion.css' %}">
</head>

<body><br>
    <a href="/generos">Volver a lista de generos</a>
    <a href="{% url 'canciones' album_id=album.id %}">Volver a {{album}}</a>    
    {% if cancion %}
    <div id="pagina">
        <div class="bloqueDetalles">
            <h2>{{cancion.cancion_nombre}}</h2>
            <p><a href="{{cancion.cancion_url}}">Link a la cancion</a></p><br>
            
            <div id="lyrics">
                {{cancion.cancion_lyrics}}
            </div>

        </div>
    {%else %}
    <p>No se encuentran los detalles de la cancion seleccionada</p>
    {% endif %}

</body>

</html>