{% load static %}
{% include "base.html" %}
<!DOCTYPE html>
<html>

<head>
    <title>myMusic - Generos</title>
    <link rel="stylesheet" href="{% static 'css/generos.css' %}">
    <link rel="stylesheet" href="{% static 'css/sesion.css' %}">
</head>

<body>
    {% block content %}
    {% if generos %}
    <h2>Generos</h2>
    <div id="bloqueGeneros">
        <ul>
            {% for genero in generos %}
            <li>
                <a href="{% url 'artistas' genero_id=genero.id %}">
                    <img class="generosImg" src="{{ genero.genero_imagen.url }}" alt="{{ genero.genero_nombre }}">
                </a><br>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No se encuentran los generos</p>
        {% endif %}
    </div>
    {% endblock %}
</body>

</html>