body{
    background-color: burlywood;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background: rgb(117, 221, 188) url("images/boloñesabrothers.png") no-repeat;
    color: rgb(239, 232, 232);
}

img{
    max-width: 300px;
    max-height: 300px;
}

logo{
    max-width: 100px;
    max-height: 100px;
}