body{
    background-color: rgb(230, 179, 113);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    color: rgb(239, 232, 232);
}

img{
    max-width: 400px;
    max-height: auto;
}

#home-icon{
	max-width:90px;
	display: inline-block;
    padding: -10px;
    margin: -20px 10px -10px 15px;
}

